/* aqui vai ficar o css da pagina inicial, ou seja, index.html*/

.titulo{
	background-color: hsl(148, 20%, 38%, 0.2);
}

.fotomulher {
	display: inline-block;
	margin: 20px;
	width: 1260px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: hsl(148, 20%, 38%, 0.2);

}

.container{
	position: relative;
}

.legenda{
	position: absolute;
	left: 20px;
	top: 10px;
	color:hsl(148, 20%, 38%);
}

.legenda h2{
	margin: 0;
}

.product1 {
	display: inline-block;
	margin: 20px;
	width: 200px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: hsla(148, 69%, 18%, 0.2);
}

.product2 {
	display: inline-block;
	margin: 20px;
	width: 200px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: hsla(148, 69%, 18%, 0.2);
}

.product3 {
	display: inline-block;
	margin: 20px;
	width: 200px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: hsla(148, 69%, 18%, 0.2);
}

.product4 {
	display: inline-block;
	margin: 20px;
	width: 200px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: hsla(148, 69%, 18%, 0.2);
}

.product5 {
	display: inline-block;
	margin: 20px;
	width: 200px;
	border: 1px solid #ccc;
	padding: 10px;
	background-color: hsla(148, 69%, 18%, 0.2);
}

.navbar {
	background-color:hsl( 60, 68%, 85%);
	color: #fff;
	padding: 10px;
	text-align: center;
}

.navbar a {
	color: #000000;
	text-decoration: none;
	margin: 10px;
}


/* aqui agora vai fiar o css de produtos*/


.product-detail {
	text-align: center;
}

/* aqui fica o css da pagina de contatos*/

.form { /* caixa grande*/
	width: 50%;
	margin: 20px auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* sombra da caixa grande*/
	background-color: hsla(148, 69%, 18%, 0.2);;
}

/* bordas dos campos de texto*/
.form input, .form textarea {
	width: 97%;
	padding: 10px;
	margin: 10px 0;
	border: 1px solid #000000;
    border-radius: 5px;
    background-color: rgb(233, 247, 233);
}

/* botao de enviar*/
.form button {
	background-color: #c78e14;
	color: #fff;
	padding: 10px 20px;
	border: none;
	border-radius: 10px;
	cursor: pointer;
}

/* rodapé*/
.footer {
	background-color: hsl(60, 68%, 85%);
	color: hsla(0, 0%, 0%, 0.2);
	padding: 10px;
	text-align: center;
	clear: both;
}

.footer a {
	color: #000000;
	text-decoration: none;
	margin: 10px;
}
